@media screen and (max-width: 768px) {
    .colorOne{
        background-color: red;
        height: 200px;
    }
    
    .colorTwo{
        background-color: cyan;
        height: 200px;
    }
    
    .colorThree{
        background-color: red;
        height: 200px;
    }

    .colorHeader{
        background-color: salmon;
    }
    
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .colorOne{
        background-color: red;
        height: 200px;
    }
    
    .colorTwo{
        background-color: red;
        height: 200px;
    }
    
    .colorThree{
        background-color: greenyellow;
        height: 200px;
    }

    .colorHeader{
        background-color: cyan;
    }
}

@media screen and (min-width: 963px) {
    .colorHeader{
        background-color: greenyellow;
        height: 50px;
    }

    .colorOne{
        background-color: red;
        height: 500px;
    }

    .colorTwo{
        background-color: red;
        height: 500px;
    }

    .colorThree{
        background-color: red;
        height: 500px;
    }

 
}

.footer1{
    background-color: yellow;
    height: 50px;
}

.footer2{
    background-color: yellow;
    height: 50px;
}

p{
    font-size: 20px;
}
